body {
    background: darkgray;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:black;
    height:100%; 
    text-align:center;
    font-size: 36px;
    margin-left:auto;
	margin-right: auto;
	
}



h1, h2,  {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
    text-transform: uppercase;
    margin:5px 0;
}

h1 {
    font-size: 2.4em;
    padding-bottom: 8px;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom:50px;
}

#hangman {
    text-align: center;
    
}

#display {
   
    margin:0 auto;
    padding:100px;
    
}
.container {
    display: inline-block;
}



#randomWord {
	letter-spacing: 4px;
	font-size: x-large;
	margin-top: 5%;
}

#guessed {
	padding-top: 15px;
	font-size: large;
	letter-spacing: 5px;
}

#remainingGuesses {
	font-size: large;
}

#imageArea {
	float: left;
}